*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 12;
    font-family: Helvetica;
}

  page{
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    height: 328mm;
    width: 270mm;; 
  }

  header{
    font-size: 12;
    font-family: Helvetica;
    text-align: center;
    padding: 10mm;
  }

  p{
    font-family: sans-serif;
    padding: 10mm;
    font-size: 20px;
    position: relative;
  }

  p:after{
    content: "";
    display:flex;
    width: 200px;
    height:2px;
    background: #000;
    position: absolute;
    right: 40rem;
    top: 55%;
    text-indent: 2em; 
    }